name: Deploy Examples

on:
  push:
    branches: [ main ]

# Deploys the examples
jobs:
  deploy-examples:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Node.js 18.x
      uses: actions/setup-node@v2
      with:
        node-version: 18.x

    - name: Build
      run: ./ci/build-examples.sh
      shell: bash

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./Examples
